<p-breadcrumb [model]="[{ label: 'Categories' }]" [home]="{icon: 'pi pi-home', routerLink: '/'}" styleClass="mb-3"></p-breadcrumb>
<div class="card">
  <div class="flex">
    <div class="flex-none">
      <h4 class="my-2">Marketplace categories</h4>
    </div>
    <div class="flex-1"></div>
    <div class="flex-none">
      <button pButton label="Add category" [routerLink]="['/categories', 'add']"></button>
    </div>
  </div>
  <p-tree [value]="categoryView" selectionMode="single" (onNodeSelect)="open($event)"></p-tree>
</div>
