<ng-container [formGroup]="formGroupParent">
  <p-password id="password1" formControlName="{{formGroupControlName}}" placeholder="Password"
            [toggleMask]="true" [feedback]="true" styleClass="mt-2 w-full p-inputwrapper p-input-icon-right"
            inputStyleClass="w-full" (keyup)="pwnCheck()">
    <ng-template pTemplate="header">
      <h6>Pick a password</h6>
    </ng-template>
    <ng-template pTemplate="footer">
      <p-divider></p-divider>
      <p-message severity="error" [hidden]="!unsafePassword" class="mt-2"
                 text="This password has previously appeared in a data breach and should never be used.">
      </p-message>
      <p class="mt-2">Suggestions</p>
      <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
        <li>At least one lowercase</li>
        <li>At least one uppercase</li>
        <li>At least one numeric</li>
        <li>Minimum 8 characters</li>
      </ul>
    </ng-template>
  </p-password>
</ng-container>
