<div class="card">
  <h4>Shopping cart</h4>
  <p-table *ngIf="cart" [value]="cart.orderLines" dataKey="id" responsiveLayout="stack"
           [rows]="10" [showCurrentPageReport]="true"
           [paginator]="cart.orderLines.length > 10" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} products"
           [globalFilterFields]="['name']">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th scope="col">Preview</th>
        <th scope="col">Name</th>
        <th scope="col">Amount</th>
        <th scope="col">Price</th>
        <th scope="col"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-orderline let-columns="columns">
      <tr [pSelectableRow]="orderline">
        <td>
          <span class="p-column-title">Preview</span>
          <a [routerLink]="['/product/', orderline.product.id]">
            <img [src]="orderline.product.image" [alt]="orderline.product.title" width="130" class="shadow-4" />
          </a>
        </td>
        <td>
          <span class="p-column-title">Name</span>
          <a [routerLink]="['/product/', orderline.product.id]" class="font-bold">
            {{orderline.product.name}}
          </a>
          <br>
          <small>This product is sold by <a [routerLink]="['/vendor/', orderline.product.vendorId]">{{orderline.product.vendorName}}</a></small>
        </td>
        <td>
          <span class="p-column-title">Amount</span>
          <p-inputNumber [(ngModel)]="orderline.quantity" mode="decimal" [showButtons]="true" inputId="minmax-buttons" [min]="0" [max]="100" (onInput)="updateCart(orderline, $event.value)"></p-inputNumber>
        </td>
        <td><span class="p-column-title">Price</span>{{orderline.quantity*orderline.product.price | currency:'EUR':'symbol'}}</td>
        <td>
          <span class="p-column-title">Actions</span>
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="updateCart(orderline, 0)"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="grid">
        <div class="col-12 lg:col-offset-9 lg:col-3 md:col-offset-8 md:col-4 sm:col-offset-6 md:col-6 text-center">
          {{ cart.orderLines.length }} product{{ cart.orderLines.length == 1 ? '' : 's' }} - {{ cart.totalPrice | currency:'EUR':'symbol' }}
        </div>
        <div class="col-12 lg:col-offset-9 lg:col-3 md:col-offset-8 md:col-4 sm:col-offset-6 md:col-6">
          <p-button icon="pi pi-check" label="Place order" styleClass="w-full" (click)="placeOrder()"></p-button>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="6" style="text-align: center">
          <p-message severity="info" text="You have no products added to your shopping cart yet. Shop them now!"></p-message>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
