.smallaspect {
  aspect-ratio: 16 / 9;
  object-fit: cover;
  display: block;
  width: 100%;
}

.desc {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 3rem;
}

.p-card {
  overflow: hidden;
}

.grid.th-large {
  align-items: stretch;
  .p-card {
    height: 100%;
  }
}

.grid.list {
  .smallaspect {
    height: 15rem;
    width: auto;
  }

  .p-card {
    display: flex;
  }

  /*.p-card-header, .p-card-body {
    float: left;
  }

  .p-card:after {
    content: '';
    clear: both;
    display: block;
  }*/
}
