<div class="layout-topbar">
  <a class="layout-topbar-logo" routerLink="">
    <img src="assets/layout/images/{{appMain.config.dark ? 'square_white' : 'square_dark'}}.svg" alt="logo">
    <span>Marketplace</span>
  </a>

  <a class="p-link layout-menu-button layout-topbar-button" href="#" (click)="appMain.toggleMenu($event)" *ngIf="false">
    <i class="pi pi-bars"></i>
  </a>

  <a class="p-link layout-topbar-menu-button layout-topbar-button" href="#" (click)="appMain.onMenuClick();appMain.toggleTopMenu($event)">
    <i class="pi pi-ellipsis-v"></i>
  </a>

  <!-- https://www.primefaces.org/primeng/button -->
  <div class="categoriesbtn"
       (mouseover)="showCategories = true"
       (mouseleave)="showCategories = false">
    <p-button icon="pi pi-bars" label="Categories"></p-button>
    <p-megaMenu [model]="megaMenuItems" orientation="vertical" [hidden]="!showCategories"></p-megaMenu>
  </div>

  <div class="layout-topbar-menu">
    <ais-search-box placeholder="Search"></ais-search-box>
  </div>

  <div class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active':appMain.topMenuActive}">
    <a [routerLink]="['/cart']" class="p-link layout-topbar-button p-button-outlined" *ngIf="user && user.role == 'customer'">
      <i class="pi pi-shopping-cart mr-3 p-text-secondary"
         pBadge
         [value]="cartCount.toString()"></i>
      <span>Shopping cart</span>
    </a>
    <a class="p-link layout-topbar-button" (click)="menu.show($event)" *ngIf="user">
      <i class="pi pi-user"></i>
      <span>Menu</span>
    </a>
    <button pButton pRipple type="button" label="Log in" icon="pi pi-user" routerLink="/login" class="p-button-outlined p-button-rounded ml-2" *ngIf="!user"></button>
    <p-menu #menu [popup]="true" [model]="items"></p-menu>
  </div>

</div>
